body {
    background-color:lightblue;
}
@media only screen and (min-width: 290px) {
    .header {
        margin: 0 auto;
        width: 500px;
        height: 100px;
        float: left;
        background-color: red;
        font-family: Arial;
        font-size: 20px;
        color:white;
        text-align: center;
        padding: 10px;
    }
}


@media only screen and (min-width: 290px){

}

@media only screen and (min-width: 1290px) {

}
table th {
    /* center aligns the text in the table cells*/
    text-align:center;
}
table td {
    /* each cell uses 1/7 of the screen width*/
    width:12.5%;
    /* sets a fixed width for the cells so they don't expand horizontally when user enter large amounts of data */
    table-layout: fixed;
    text-align: center;
}